{
  "htmlWhitespaceSensitivity": "css",
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "parser": "flow",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
